<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini App</title>
    <link rel="shortcut icon" href="../public/images/side-chain.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div class="profile">
        <button onclick="openProfile()" class="openProfile">
            <img class="profilePhoto" src="../public/images/user.png" alt="">
        </button>
        <div id="openProfileModol" class="modal">
            <div class="profileModol">
                <div class="modal-header">
                    <button id="loginBtn" onclick="showLogin()">Login</button>
                    <button id="registerBtn" onclick="showRegister()">Register</button>
                    <span class="close" onclick="closeProfile()">&times;</span>
                </div>
                
                <div id="loginModol" class="loginModol">
                    <label><img class="emailIcon" src="../public/images/email.png" alt=""></label>
                    <input class="emailInputLogin" id="emailInput" type="text"> <br>
                    <label><img class="keyIcon" src="../public/images/key.png" alt=""></label>
                    <input class="keyInputLogin" id="keyInput" type="text"><br>
                    <button id="submit"></button>
                </div>
                <div id="registerModol" class="registerModol">
                    <input class="usernameInputRegister" id="usernameInput" type="text"> <br>
                    <label><img class="emailIcon" src="../public/images/email.png" alt=""></label>
                    <input class="emailInputRegister" id="emailInput" type="text"> <br>
                    <label><img class="keyIcon" src="../public/images/key.png" alt=""></label>
                    <input class="keyInputRegister" id="keyInput" type="text"><br>
                    <button id="submit"></button>
                </div>
            </div>
        </div>
    </div>
    <button onclick="openAddContent()">
        <img src="../public/images/add-icon.png" alt="">
    </button>
    <div id="addcontentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddContent()">&times;</span>
            <input type="text" id="name-content" placeholder="Lütfen İsim Giriniz.">
            <input type="text" id="url-content" placeholder="Lütfen Url Giriniz.">
            <input type="file" id="img-content" accept="image/*">
            <button id="add-save-content">Oluştur</button>
        </div>
    </div>


    <script src="../assets/js/script.js"></script>
</body>

</html